COSMOS_ENDPOINT=https://<ton-cosmos>.documents.azure.com:443/
COSMOS_KEY=<ta-clé>
COSMOS_DATABASE=cloudnotes
COSMOS_CONTAINER=notes
BLOB_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<...>
BLOB_CONTAINER=attachments
